.page {
  height: 100vh;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  overflow: hidden;
}

body, h1, h2, p, input {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1168px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 168px);
  grid-template-rows: 1;
  grid-column-gap: 32px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  max-width: 100vw;
  height: 100px;
  background-color: #151515;
}

.nav {
  margin: 40px auto;
}
.nav__title {
  margin: 0;
  text-align: center;
  background-image: linear-gradient(30deg, #64B6AC 30%, #E3C5BB 70%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main {
  background-color: #111111;
}
.main__text {
  padding-top: 80px;
}
.main__text-item {
  display: block;
  width: 100%;
  height: 80px;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0.06em;
  color: #111111;
  outline: none;
  resize: none;
  background-color: #111111;
  text-decoration: none;
  border: none;
}
.main__text-item::placeholder {
  color: #111111;
}
.main__text-item:first-child {
  margin: 0 0 60px;
  width: 100%;
  padding: 0;
  caret-color: #64B6AC;
  -webkit-text-stroke: 3px #64B6AC;
}
.main__text-item:last-child {
  margin-bottom: 80px;
  caret-color: #E3C5BB;
  -webkit-text-stroke: 3px #E3C5BB;
}
.main__info {
  background-color: #151515;
}
.main__key {
  display: flex;
  grid-column: 1/3;
}
.main__key-title {
  padding-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
  line-height: 39px;
  color: #E3C5BB;
}
.main__key-area {
  display: block;
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0.06em;
  color: #151515;
  -webkit-text-stroke: 3px #E3C5BB;
  background-color: #151515;
  caret-color: #64B6AC;
  outline: none;
  resize: none;
  text-decoration: none;
  border: none;
}
.main__key-area::placeholder {
  color: #151515;
  -webkit-text-stroke: 3px #E3C5BB;
}
.main__titles {
  margin-bottom: 30px;
  background-color: #151515;
}
.main__title {
  width: 100%;
  text-align: center;
  font-size: 32px;
  line-height: 39px;
  color: #E3C5BB;
}
.main__title:first-child {
  grid-column: 2/3;
}
.main__title:last-child {
  grid-column: 5/6;
}

.form__infographic {
  position: relative;
  margin-bottom: 60px;
}
.form__language {
  grid-column: 1/4;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  gap: 24px;
  text-align: center;
}
.form__language-item {
  width: max-content;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.06em;
  color: #E3C5BB;
  cursor: pointer;
}
.form__language-input {
  appearance: none;
  height: 24px;
  width: 24px;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #E3C5BB;
  color: #64B6AC;
}
.form__language-input:checked {
  border-color: #64B6AC;
  border-width: 5px;
}
.form__mode {
  grid-column: 4/7;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 24px;
  width: max-content;
  height: 100%;
  text-align: center;
}
.form__mode::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  justify-self: start;
  content: "";
  display: block;
  float: left;
  height: 150px;
  width: 3px;
  background-color: #fff;
}
.form__mode-item {
  width: max-content;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #E3C5BB;
  cursor: pointer;
}
.form__mode-input {
  appearance: none;
  height: 24px;
  width: 24px;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #E3C5BB;
  color: #64B6AC;
}
.form__mode-input:checked {
  border-color: #64B6AC;
  border-width: 5px;
}
.form__buttons {
  clear: left;
}
.form__button {
  grid-column: 1/4;
  grid-row: 1;
  justify-self: center;
  box-sizing: border-box;
  width: 200px;
  height: 44px;
  margin-bottom: 40px;
  border: 3px solid #E3C5BB;
  background-color: #151515;
  color: #E3C5BB;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.06em;
}
.form__button--submit {
  grid-column: 4/7;
  border-color: #64B6AC;
  color: #64B6AC;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #151515;
  padding: 0 50px 10px;
}
.footer__item {
  width: max-content;
  font-size: 14px;
  line-height: 24px;
  color: #CCC;
}

/*# sourceMappingURL=style.css.map */
