$c-dark-gray: #151515;
$c-black: #111111;
$c-cyan: #64B6AC;
$c-beige: #E3C5BB;

$wrapper-width: 1168px;

.page {
  height: 100vh;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  overflow: hidden;
}

body, h1, h2, p, input {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: $wrapper-width;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 168px);
  grid-template-rows: 1;
  grid-column-gap: 32px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;

  max-width: 100vw;
  height: 100px;

  background-color: $c-dark-gray;
}

.nav {
 margin: 40px auto;

  &__title {
    margin: 0;
    text-align: center;
    background-image: linear-gradient(30deg, $c-cyan 30%, $c-beige 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
}

.main {
  background-color: $c-black;

  &__text {
    padding-top: 80px;
  }

  &__text-item {
    display: block;
    width: 100%;
    height: 80px;

    font-family: inherit;
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.06em;
    color: $c-black;

    outline: none;
    resize: none;
    background-color: $c-black;
    text-decoration: none;
    border: none;

    &::placeholder {
      color: $c-black;
    }

    &:first-child {
      margin: 0 0 60px;
      width: 100%;
      padding: 0;

      caret-color: $c-cyan;
      -webkit-text-stroke: 3px $c-cyan;
    }

    &:last-child {
      margin-bottom: 80px;

      caret-color: $c-beige;
      -webkit-text-stroke: 3px $c-beige;
    }
  }

  &__info {
    background-color: $c-dark-gray;
  }

  &__key {
    display: flex;
    grid-column: 1 / 3;
  }
  
  &__key-title {
    padding-top: 60px;
    margin-bottom: 30px;
    
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    color: $c-beige;
  }
  
  &__key-area {
    display: block;
    width: 100%;
    height: 80px;
    margin-bottom: 30px;

    font-family: inherit;
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.06em;

    color: $c-dark-gray;
    -webkit-text-stroke: 3px $c-beige;
    background-color: $c-dark-gray;
    caret-color: $c-cyan;
    outline: none;
    resize: none;
    text-decoration: none;
    border: none;

    &::placeholder {
      color: $c-dark-gray;
      -webkit-text-stroke: 3px $c-beige;
    }
  }

  &__titles {
    margin-bottom: 30px;

    background-color: $c-dark-gray;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    color: $c-beige;

    &:first-child {
      grid-column: 2 / 3;
    }

    &:last-child {
      grid-column: 5 / 6;
    }
  }
}

.form {
  &__infographic{
    position: relative;
    margin-bottom: 60px;
  }
  
  &__language {
    grid-column: 1 / 4;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    gap: 24px;
    text-align: center;
  }

  &__language-item {
    width: max-content;

    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.06em;

    color: #E3C5BB;
    cursor: pointer;
  }

  &__language-input {
    appearance: none;
    height: 24px;
    width: 24px;
    margin-right: 15px;

    border-radius: 50%;
    border: 2px solid $c-beige;
    color: $c-cyan;

    &:checked {
      border-color: $c-cyan;
      border-width: 5px;
    }
  }

  &__mode {
    grid-column: 4 / 7;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 24px;

    width: max-content;
    height: 100%;
    text-align: center;

    &::before {
      position: absolute;
      left: 50%;
      bottom: 0;

      justify-self: start;
      content: "";
      display: block;
      float: left;

      height: 150px;
      width: 3px;
      background-color: #fff;
    }
  }

  &__mode-item {
    width: max-content;

    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #E3C5BB;
    cursor: pointer;
  }

  &__mode-input {
    appearance: none;
    height: 24px;
    width: 24px;
    margin-right: 15px;

    border-radius: 50%;
    border: 2px solid $c-beige;
    color: $c-cyan;

    &:checked {
      border-color: $c-cyan;
      border-width: 5px;
    }
  }

  &__buttons {
    clear: left;
  }
  
  &__button {
    grid-column: 1 / 4;
    grid-row: 1;
    justify-self: center;


    box-sizing: border-box;
    width: 200px;
    height: 44px;
    margin-bottom: 40px;
    
    border: 3px solid $c-beige;
    background-color: $c-dark-gray;
    color: $c-beige;
    border-radius: 10px;
    
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.06em;

    &--submit {
      grid-column: 4 / 7;
      border-color: $c-cyan;
      color: $c-cyan;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $c-dark-gray;

  padding: 0 50px 10px;
  
  
  &__item {
    width: max-content;
    font-size: 14px;
    line-height: 24px;
    color: #CCC;
  }
}